<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./components/head.ejs') %>
</head>
<body>

    <%- include('./components/navbar.ejs', { NUMERO_AULA }) %>

    <h1>Listagem de Alunos</h1>
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <% let user = users[i] %>
            <% if (user.professor) { %>
                <li><b><%= user.name %></b></li>   
            <% } else { %>
                <li><%= user.name %></li>
            <% } %>
        <% } %>
    </ul>


    <a href="/add-user">Adicionar Aluno</a>
</body> 
</html>